* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out 0s;
}

body {
  width: 100vw;
  height: 100vh;
  background: url("https://source.unsplash.com/1600x900/?patterns,textures");
}